.user-show-wrapper {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    padding-top: 20vh;
    display: flex;
    justify-content: space-around;
    background: radial-gradient(#0c00ff, transparent);
}

.user-show-container {
    width: 40%;
    background: linear-gradient(45deg, rgb(79 247 129), #2723ff);
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    padding: 15px;
    display: flex;
    flex-direction: column;
    height: max-content;
}

.user-show-info-name {
    padding: 10px;
    margin-bottom: 5%;
    display: flex;
    font-weight: 600;
    justify-content: center;
    font-size: 2rem;
    border-bottom-style: groove;
    border-bottom-width: 3px;
    border-bottom-color: black;
}

