.nav-wrapper {
    position: fixed;
    width: 100%;
    flex-direction: row;
    display: flex;
    height: 10vh;
    /* background: linear-gradient(270deg, rgb(167, 242, 255), rgb(124, 255, 222)); */
    background: linear-gradient(270deg, rgb(123, 0, 0), rgb(10, 0, 43));
    justify-content: space-between;
    z-index: 100;
}

.nav-profile-pic {
    width: 3rem;
    max-height: 8vh;
    min-height: 8vh;
    border-radius: 50%;
    position: relative;
}

.prof {
    position: absolute;
    left: 94%;
    border-radius: 50%;
    border: none;
    background-color: white;
}

.profile-dropdown {
    height: 10vh;
}

.sign-in {
    border-style: solid;
    background-color: #9c0f3e;
    color: white;
    border-color: white;
    height: min-content;
    min-height: 44px;
    border-radius: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
}
.nav-stage-name{
    cursor: pointer;
}

.logo {
    cursor: pointer;
    background-image: url('/assets/favicon_io/favicon.ico');
    width: 3rem;
    height: 3rem;
}

.join {
    background-color: #9c0f3e;
    color: black;
    border: 0px;
    height: min-content;
    min-height: 44px;
    border-radius: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1vh;
    margin-right: 1vw;

}
.join:hover, .logout-button:hover {
    background-color: #680000;
    color: white;
}
.sign-in:hover {
    background-color: #680000;
    color: #f96363;
    border-color: #f96363;
}



.nav-left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-left: 4vw;
}

svg {

    height: 2em;
    width: 3em;
}
.profile-menu-container {
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: 1px solid rgb(223, 223, 223);
    background-color: white;
    padding: 10px;
    margin-bottom: 2vw;
    border-radius: 8px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    height: 150px;
    margin-right: 20px;
    position: absolute;
    left: 80%;
    top: 60%;
}

.logout-button {
    border-style: solid;
    background-color: white;
    color: #680000;
    border-color: #680000;
    height: min-content;
    min-height: 4px;
    border-radius: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 600;
}

.drop-title {
    padding-top: 2%;
    font-size: 13px;
    color: rgb(149, 149, 149);
}