.user-splash-card-wrapper {
    margin-top: 10vh;
    margin-left: 5%;
    width: 25%;
    background: linear-gradient(45deg, rgb(255, 0, 0), transparent);
    height: min-content;
    padding: 2%;
    border-radius: 20px;
    border: black;
    border-style: groove;
}

.user-splash-name{
    color: rgb(247, 187, 255);
    padding-bottom: 20%;
    font-size: 1.5rem;
}

.user-splash-songs{
    color: rgb(247, 187, 255);
    font-weight: 500;
    font-size: 1.2rem;
}

.user-splash-song {
    color: rgb(247, 187, 255);
    padding-top: 5%;
}

.user-splash-song-name {
    color: rgb(247, 187, 255);
    font-weight: 300;
    font-size: 1.1rem;
}

.orig-artist-splash {
    color: #ff6a6a;
    font-weight: 50;
    font-size: 0.9rem;
}