.song-index-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
    background: linear-gradient(45deg, #ff2020, orange);
    border-radius: 10px;
    margin-bottom: 20px;
}

.wrapper-song {
    width: 100%;
    display: flex;
    justify-content: inherit;
}
.song-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 26%;
}




.artist-span{
    color: black;
    font-weight: 500;
    font-size: large;
}
.inst-span{
    color: black;
    font-weight: 500;
    font-size: larger;
}

.song-title {
    color: azure;
    padding-bottom: 5px;
    font-weight: 500;
    font-size: larger;
}

.song-artist {
    color: azure;
    padding-bottom: 5px;
}


.desired-instrument {
    color: azure;
    padding-bottom: 5px;
}

.edit-song-title {
    color: azure;
    margin-bottom: 7px;
    font-weight: 500;
    font-size: larger;
    padding: 3px;
}
.edit-song-artist {
    color: azure;
    margin-bottom: 7px;
    padding: 3px;
}


.edit-desired-instrument {
    color: azure;
    margin-bottom: 7px;
    padding: 3px;
}

.mod-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
}

.mod-menue {
    display: flex;
    flex-direction: column;
}

.delete-song-button, .edit-song-button {
    height: 30px;
    color: rgb(247, 187, 255);
    font-weight: 500;
    cursor: pointer;
    display: flex;
    background: linear-gradient(45deg, #2045ff, orange);
    border-radius: 38px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}
.delete-song-button:hover{
    background: linear-gradient(45deg, black, transparent);
    color: #ff2020;
}
.edit-song-button:hover {
    background: linear-gradient(45deg, rgb(231, 0, 185), transparent);
    color: #07b0f9;
}

.song-edit-form {
    width: 100%;
    display: flex;
    justify-content: right;
}

.edit-info-container {
    margin-right: 15%;
}