.event-index-item-wrapper {
    display: flex;
    margin-left: 12%;
    width: 65%;
    background: linear-gradient(45deg, #ff2020, orange);
    margin-bottom: 8%;
    margin-top: 5%;
    padding: 20px;
    border-radius: 38px;
    border-style: groove;
    border-width: 2px;
    border-color: black;
    flex-direction: column;
}

.event-info-container{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-of-event {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
    align-items: baseline;
}

.event-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.event-page-button {
    background: linear-gradient(45deg, black, #110060);
    color: white;
    border-radius: 15px;
    border-style: none;
    height: 30px;
    padding: 3px;
    width: 200px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 15px;
    margin-bottom: 2vh;
}

.event-page-button:hover {
    cursor: pointer;
    background: linear-gradient(45deg, crimson, black);
    color: white;
    border: black;
    border-style: groove;
}