.event-index-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.create-event-button {
    color: rgb(247, 187, 255);
    font-weight: 500;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    margin-left: 12%;
    width: 70%;
    background: linear-gradient(45deg, black, #110060);
    margin-top: 10vh;
    padding: 20px;
    border-radius: 38px;
    flex-direction: column;
    align-items: center;
}

.create-event-button:hover {
                                /* The Crimson Chin  */
    background: linear-gradient(45deg, crimson, black); 
    border-style: groove;
    border-width: 2px;
    border-color: black;
}