.event-index-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.create-event-button {
    color: rgb(247, 187, 255);
    font-weight: 500;
    font-size: 2rem;
    cursor: pointer;
    display: flex;
    margin-left: 12%;
    width: 71%;
    background: linear-gradient(45deg, #ff4c20, orange);
    margin-top: 10vh;
    padding: 20px;
    border-radius: 38px;
    flex-direction: column;
    align-items: center;
}

.create-event-button:hover {
    background: linear-gradient(45deg, black, transparent);
    color: #ff2020;
}