.song-label-container {
    display: flex;
    flex-direction: column;
}

.create-song-container {
    background: linear-gradient(45deg, rgb(255, 0, 0), black);
    height: min-content;
    padding: 20px;
    border-radius: 35px;
    width: 15%;
}

.add-songs-header {
    font-size: 1.5rem;
    font-weight: 600;
    justify-content: center;
    display: flex;
    margin-bottom: 15px;
    padding-bottom: 3px;
    border-bottom-style: groove;
    border-bottom-width: 3px;
    border-bottom-color: black;
    color: rgb(247, 187, 255);
}

.create-song-name-text, .create-song-og-artist-text, .create-song-instrument-text {
    resize: none;
    width: 98%;
}

.create-song-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.song-button {
    height: 30px;
    color: rgb(247, 187, 255);
    font-weight: 500;
    cursor: pointer;
    display: flex;
    background: linear-gradient(45deg, black, #110060);
    border-radius: 38px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.song-button:hover {
    /* background: linear-gradient(45deg, black, transparent);
    color: #ff2020; */
    background: linear-gradient(45deg, rgb(231, 0, 185), transparent);
    color: #07b0f9;
}

.create-label-song {
    margin-bottom: 5px;
    color: rgb(247, 187, 255);
}