.attendee-list-item-wrapper {
    display: flex;
    justify-content: center;
    padding-left: 25px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 20px;
    border-radius: 20px;
    color: white;
}

.user-att-name{
    cursor: pointer;
}

.attendee-list-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mod-buttons{
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
}

.edit-status-button, .delete-status-button {
    color: rgb(247, 187, 255);
    font-weight: 500;
    cursor: pointer;
    display: flex;
    background: linear-gradient(45deg, #2045ff, orange);
    border-radius: 38px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50px;
}
.edit-status-button:hover {
    background: linear-gradient(45deg, rgb(231, 0, 185), transparent);
    color: #07b0f9;
}
.delete-status-button:hover{
    background: linear-gradient(45deg, black, transparent);
    color: #ff2020;
}